<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Out Of Office</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Out Of Office</a>
          {{! <p>A blog of wanderlust.</p> }}
        </h1>
        <nav>
          <form>
            <input id="city-search" type="text" placeholder="Enter City" />
            <button id="city-search-btn">Search</button>
          </form>
          {{#if loggedIn}}
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
            <a href="/sign-up">Sign-Up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Out Of Office <br /> &copy; 2022</p>
        <p><a href="https://www.pexels.com/api/">Photos provided by Pexels</a></p>
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/search-city.js"></script>
  </body>

</html>