<html lang="en">

<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Out Of The Office</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">travel blog</a>
      </h1>
      <nav>
        <form>
          <input id="city-search" type="text" placeholder="Enter City">
          <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
            Search
          </button>
        </form>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
            Log Out
        </button>
        {{else}}
        <a href="/login">Login</a>
        <a href="/sign-up">Sign-Up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks You For Visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="/javascript/search-city.js"></script>
</body>


</html>