<div id="photos"></div>

<section class="post-list">
    {{#each post as |post|}}
    <div>
        {{> post-info post}}
    </div>
    {{/each}}
</section>


<script src="/javascript/search-photos.js"></script>