<form class="login-form">
<<<<<<< HEAD
    <div>
        <label for= "username-login">username:</label>
        <input type="text" id="username-login"/>
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login"/>
    </div>
    <div>
        <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
        Login
        </button>
    </div>

<div><a href="/sign-up">Sign Up Instead</a></div>

<script src="/javascript/login.js"></script>