/* MAIN STYLES */

:root {
  --first-color: #091d36;
  --second-color: #0b4c84;
  --third-color: #598ec2;
  --fourth-color: #9bc1ee;
  --fifth-color: #f0eff5;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 0 150px;
  font-family: var(--primary-font);
  color: var(--first-color);
}

main {
  flex: 1;
  padding: 2% 4%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f1d35a;
}

/* HEADER STYLES */

header {
  border-bottom: 1px solid var(--fifth-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  animation-duration: 3s;
  animation-name: bounce-4;
}

.bounce-4 {
  animation-name: bounce-4;
  animation-timing-function: ease;
}
@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

header h1 a {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  color: var(--fifth-color);
}

header nav a {
  color: var(--fifth-color);
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  margin-right: 12px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--fifth-color);
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.btn-no-style:hover {
  background: none;
  color: #f1d35a;
}

header nav {
  text-align: center;
}

header nav form input {
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  border: 5px solid var(--fourth-color);
  background-color: var(--fifth-color);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

header nav form input:focus {
  outline: none;
  border: 1px solid color var(--first-color);
}

button {
  background-color: var(--fourth-color);
  border: 0;
  padding: 5px;
  color: var(--first-color);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--third-color);
}

/* HOMEPAGE STYLES */

.blog-post {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: #9bc1ee solid 5px;
  background-color: rgba(240, 239, 245, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog-post:nth-child(odd) {
  border: var(--second-color) solid 5px;
}

.title {
  font-family: "Satisfy", cursive;
  font-size: 35px;
  color: var(--first-color);
  font-weight: lighter;
}

.city-create-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: var(--first-color);
}

/* DASHBOARD STYLES */

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.dashboard h2 {
  font-size: 35px;
}

.new-post-form {
  border: var(--second-color) solid 5px;
  padding: 30px;
  background-color: rgba(240, 239, 245, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
}

.new-post-form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.new-post-form div label {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.new-post-form div textarea {
  height: 300px;
}

.new-post-form div input {
  height: 30px;
}

.new-post-form button {
  margin-top: 20px;
  padding: 5px 10px;
  width: 100px;
}

/* SINGLE POST STYLES */

.single-post {
  font-family: "Nunito", sans-serif;
  padding: 30px;
  background-color: rgba(240, 239, 245, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-title {
  font-family: "Satisfy", cursive;
  font-size: 45px;
  color: var(--first-color);
  font-weight: lighter;
}

.content {
  margin: 20px 0;
  font-size: 20px;
}

/* COMMENTS STYLES */

.comment-form {
  margin: 20px 0;
}

.comment-form textarea {
  background-color: var(--fifth-color);
  width: 300px;
  height: 75px;
}

.comment-form button {
  margin-top: 10px;
  width: 200px;
}

.line {
  border-top: var(--fifth-color) solid 1px;
  margin-bottom: 40px;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color: var(--first-color);
  color: var(--fifth-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment:nth-child(odd) {
  background-color: var(--second-color);
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
}

.comments-meta {
  font-size: 90%;
  opacity: 0.6;
}

/* SEARCH STYLES */

.display-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photos {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photos div {
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* EDIT POST STYLES */

.edit-post-section h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
}

.dashboard-btn {
  font-family: "Satisfy", cursive;
  color: var(--first-color);
  font-size: 30px;
}

.edit-post-form {
  margin-bottom: 5%;
  font-family: "Nunito", sans-serif;
  padding: 30px;
  background-color: rgba(240, 239, 245, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Nunito", sans-serif;
}

.edit-post-form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.edit-post-form label {
  font-size: 25px;
}

.edit-post-form input {
  font-size: 20px;
}

.edit-meta {
  margin-bottom: 15px;
}

.save-post-btn {
  padding: 5px 20px;
  margin-right: 10px;
  background-color: var(--second-color);
  color: var(--fifth-color);
}

.delete-post-btn {
  padding: 5px 20px;
  background-color: var(--second-color);
  color: var(--fifth-color);
}

/* FOOTER STYLES */

footer {
  border-top: 1px solid var(--fifth-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 95%;
}

footer p,
footer p a {
  color: var(--fifth-color);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

/* SIGNUP/LOGIN STYLES */

/* .login-form > div {
  font-family: var(--tertiary-font);
  align-content: space-around;
  display: block;
  flex: auto;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.signup-form > div {
  font-family: var(--tertiary-font);
  align-content: space-around;
  display: block;
  flex: auto;
  animation-duration: 3s;
  animation-name: slidein;
} */
