@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --first-color: #091D36;
  --second-color: #0B4C84;
  --third-color: #598EC2;
  --fourth-color: #9BC1EE;
  --fifth-color: #F0EFF5;
  --primary-font: Calibri;
  --secondary-font: Candara;
  --tertiary-font: Dejavu Sans;
}
* { 
    box-sizing: border-box;
  }
  
  body, html { 
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    color: var(--second-color);
  }
  
  a {
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--fourth-color);
  }
  
  button { 
    background-color: var(--first-color);
    border: 0;
    padding: 1%;
    color: black;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover { 
    background-color: var(--fourth-color);
  }
  
  .post-list { 
    margin: 0;
    padding: 0;
  }
  
  text, textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  text:focus, textarea:focus, input:focus {
    outline: none;
    border: 1px solid color var(--fifth-color);
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  
  .login-form > div { 
    font-family: var(--tertiary-font);
  }

  .signup-form > div { 
    font-family: var(--secondary-font);
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label { 
    display: block;
  }
  
  .wrapper { 
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header { 
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 { 
    font-size: 1em;
  }
  
  h2 { 
    font-family: var(--secondary-font);
  }

  main { 
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn, btn-no-style{ 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--first-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn:hover, btn-no-style:hover { 
    background: none;
    color: var(--fourth-color);
  }
  
  .submit-button { 
    background-color: var(--first-color);
  }

  .submit-button:hover { 
    background-color: var(--fourth-color);
  }

  .delete-post-btn { 
    background-color: var(--first-color);
  }
  
  .delete-post-btn:hover {  
    background-color: var(--fourth-color);
  }
  
  .post { 
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span { 
    font-style: italic;
    font-size: 90%;
    color: var(--primary-color);
  }
  
  .edit-link { 
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  
  .comment-form { 
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: var(--fourth-color);
  }
  
  .comment .meta { 
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input { 
    width: 300px;
  }
  
  .edit-post-form { 
    margin-bottom: 5%;
  }
  
  footer { 
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

